<section class="messages main-content center">

<% if @messages.count > 0 %>
	<%= render @messages %>
<% else %>
	<p class="notice">
		No messages! You're alone in the infinite void of space and time! Congrats!
	</p>
<% end %>
</section>