<ul class="session-nav">
	<li class="session-nav-item">
    <a href="<%= new_deviation_url %>">
      + Art
    </a>
	</li>
	<li class="session-nav-item">
    <a href="<%= user_url(current_user) %>">
			<%= current_user.username %>
		</a>
	</li>
</ul>