<section class="notifications main-content center">
  <% if @user.notifications.length > 0 %>
  	<%= render @user.notifications %>
  <% else %>
  	<p class="notice">
  		No notifications to be found!
  	</p>
  <% end %>
</section>
