<%= render partial: "users/content", locals: {user: @user} %>
<%= render partial: "users/info", locals: {user: @user} %>
<section class="main-content">
  <% if @user.notifications.length > 0 %>
  	<%= render @user.notifications %>
  <% else %>
  	<p class="notice">
  		No notifications to be found!
  	</p>
  <% end %>
</section>
