<%= render partial: "deviations/info", locals: { deviation: deviation } %>
<section class="media">
  <table>
    <tr>
      <td>
        <img class="deviation-media" src="<%= deviation.media.url %>">
      </td>
    </tr>
  </table>
</section>


