<section class="deviation-grid js-masonry" data-masonry-options='{ "columnWidth": 1, "itemSelector": "._deviation", "transitionDuration" : 0, "isFitWidth" : "true"}'>
  <%= render deviations %>
</section>