<%= render partial: "users/content", locals: {user: current_user} %>
<%= render partial: "users/info", locals: {user: current_user} %>
<section class="main-content center">
  <%= render 'form', locals: {deviation: @deviation} %>

  <%= link_to 'Back', @deviation %>
</section>