<ul class="user-nav">
	<li class="user-nav-item">
		<a href="">
			Messages
		</a> 
	</li>
	<li class="user-nav-item">
		<a href="">
			Edit Profile
		</a>
	</li>
	<li class="user-nav-item">
    <%= button_to "Log out", session_url, method: :delete %>
	</li>
</ul>