<ul class="user-nav">
	<li>
		<a class="user-nav-item" href="">
			Messages
		</a>
	</li>
	<li>
		<a class="user-nav-item" href="">
			Edit Profile
		</a>
	</li>
	<li class="user-nav-item">
    <%= button_to "Log out", session_url, method: :delete %>
	</li>
</ul>