		<div class="gallery-preview group">
		  <header class="gallery-title group">
		    <a href="#"><%= model.escape("title") %></a>
        <span class="metadata">Last edited <%= model.escape("updated_at")%> </span>
			</header>
      <p class="group">
        <% _(model.get("deviations")).each( function(deviation) { %>
          <figure class="deviation-preview">
            <img class="center" src="<%= deviation.thumb_url %>">
          </figure>
        <% }) %>
      </p>
		</div>
