<section class="journals main-content">
  <% if @journals.count > 0 %>
  	<%= render @journals %>
  <% else %>
  	<p class="notice">
  		No journals to be found!
  	</p>
  <% end %>

  <a class="+link" href="<%= new_user_journal_url(@user) %>">
    + Journal
  </a>
</section>