<%= render partial: "users/content", locals: {user: current_user} %>
<%= render partial: "users/info", locals: {user: current_user} %>
<section class="main-content center">
  <h1 class="form-header">
    Write Journal
  </h1>

  <%= render 'form', locals: {journal: @journal} %>
</section>