<% if galleries.count > 0 %>
	<% galleries.each do |gallery| %>
		<div class="gallery-preview group">
		  <header class="gallery-title group">
		    <a href="<%= gallery_url(gallery) %>"><%= gallery.title %></a>
				<span class="metadata">Last edited <%= time_ago_in_words(gallery.updated_at)%> ago </span>
			</header>
			<p class="group">
				<% gallery.deviations.each do |deviation| %>
			    <figure class="deviation-preview">
			      <img class="center" src="<%= deviation.media.url(:thumb) %>">
			    </figure>
				<% end %>
			</p>
		</div>
  <% end %>
<% else %>
	<p class="notice">
		No galleries to be found!
	</p>
<% end %>