div.comment-wrapper {
 margin-left: 50px;
 cursor: pointer;
}

div.comment-wrapper:hover > .respond {
  display: block;

}
.respond {
  display: none;
}

span.comment-icon {
  display: inline-block;
  background: image-url("comment.png") no-repeat;
  width: 16px;
  height: 16px;
}

span.form-header {
  cursor: pointer;
}