section.form {
  width: 340px;
}

section.form > form {
  display: inline;
}

h1.form-header {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-size: 43pt;
  font-family: 'open_sansbold';
}

input, select, .textarea-input, label {
  margin: 5px;
  padding: 5px 10px;

  font-family: 'open_sanslight';
  font-size: 14pt;

  color: white;
  background: transparent;
}

input, select, .textarea-input {
  border: 5px solid white;
}

.text-input, .textarea-input, select, label {
  display: block;
  width: 300px;
}

.date-input > #dob, .file-upload {
  width: 300px;
}

.date-input, .dropdown-input .file-upload, fieldset {
  padding: 20px 0;
}

input.liker { border-width: 0; }

.textarea-input { height: 150px; }

.submit-button,
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.implicit-submit {
  display: none;
}

.submit-button:hover,
input[type="submit"]:hover {
  border-color: #14A046;
  color: #14A046;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 5px solid #14A046;
}

legend, label {
  display: inline;
  font-family: 'open_sanssemibold';
}

.radio-button, .checkbox {
  margin-left: 20px;
  display: inline;
  color: white;
  float: left;
}


