form {
  display: inline;
}

form.searchbar {
  display: block;
}

.conventional-login {
  float: left;
}

.facebook-login {
  margin-left: 340px;
}

.login-wrapper {
  margin-top: 150px;
  width: 785px;
}

h1.form-header {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-size: 43pt;
  font-family: 'open_sansbold';
}

.sign-up{
  margin-top: 150px;
}

input, select, .textarea-input, label {
  margin: 5px auto;
  padding: 5px 10px;

  font-family: 'open_sanslight';
  font-size: 14pt;

  color: #E6E6E6;
  background: transparent;
}

input, select, .textarea-input {
  border: 5px solid #E6E6E6;
}

.text-input, .textarea-input, select, label {
  display: block;
  width: 300px;
}

.date-input > #dob, .file-upload {
  width: 300px;
}

.date-input, .dropdown-input .file-upload, fieldset {
  padding: 20px 0;
}

input.liker { border-width: 0; }

.textarea-input { height: 150px; }

.text-input.title, .textarea-input.description {
  width: 100%;
  box-sizing: border-box;
}

.facebook-login {
  float: left;
	color: #E6E6E6;

  margin: 5px 0;
  padding: 10px 15px;

  font-family: 'open_sansbold';
	font-size: 20pt;

	border-radius: 8px;
	background: linear-gradient(to bottom, #3f4c6b 0%, #283049 100%);

  cursor: pointer;
  width: 340px;
  height: 220px;
}

.facebook-login > a {
  display: block;	color: #E6E6E6;

}

.conventional-login {
  padding-right: 40px;
  border-right: 1px solid #ccc;
  margin-right: 40px;
}

.facebook-login table {
    width:100%;
    height: 220px;
    vertical-align: middle;
}

.facebook-login:hover {
	background: linear-gradient(to bottom, #252D44 0%, #20263A 100%);
}

.facebook-login:active {
  box-shadow: inset 0 20px 50px 0px rgba(0, 0, 0, 1);
	background: linear-gradient(to bottom, #1C2237 0%, #111521 100%);
}

.facebook-login:active > a {
  color: #999;
}

.submit-button,
input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.submit-button:hover,
input[type="submit"]:hover {
  border-color: #14A046;
  color: #14A046;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 5px solid #14A046;
}

legend, label {
  display: block;
  text-align: left;
  font-family: 'open_sanssemibold';
}

.radio-button, .checkbox {
  margin-left: 20px;
  display: inline;
  color: #E6E6E6;
  float: left;
}


.comment-form {
  width: 340px;
}