/* ///\\\///\\\header///\\\///\\\ */
header.site-header { /* +clearfix */
  width: 100%;
  box-sizing: border-box;

  position: fixed;
  z-index: 2;
  top: 0;

  color: #14A046;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 5px solid #14A046;
}

/* ///\\\///\\\lefthand dropdown searchbar & menu///\\\///\\\ */
header.site-header > .dropdown-button { float: left; }

.dropdown-button h1 { /* +reveal-content */
  padding: 0 10px;

  font-family: 'open_sansregular';
  font-size: 30pt;
  color: #14A046;
}

.notification-counter {
  background: #020703;
  border-radius: 100%;
  padding: 3px 10px;
}

.dropdown-button a {
  color: #E6E6E6;
}

.dropdown-button:hover table,
.dropdown-button:hover a,
.dropdown-button:hover h1 {
  color: #E6E6E6;
  background: #122313;
}

.dropdown-button table {
  padding: 0 10px;
}

div.dArt-sprite {
  background: image-url("spritesheet.png") no-repeat;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.dropdown-button:hover div.dArt-sprite {
  background-position: 0 -35px;
}

div.search-sprite {
  background: image-url("spritesheet.png") no-repeat;
  width: 35px;
  height: 35px;
  overflow: hidden;
  background-position: -36px 0;
}

.dropdown-button:hover div.search-sprite {
  background-position: -36px -35px;
}

nav.dropdown-menu { /* +clearfix */

  position: absolute;
  top: 100%;
  width: 100%;

  background: #122313;
}

nav.dropdown-menu > .menu {
  float: left;
  display: block;

  padding: 20px 0;
}

.logout-form > .submit-button {
  border: 0;
  padding: 0;
  margin: 0;

  width: 100%;
  text-align: left;
}

.logout-form > .submit-button:hover {
  color: #E6E6E6;
}

.logout-form {
  display: block;
}

.menu .menu-item {
  display: block;
  padding: 5px 20px;

  font-family: 'open_sanslight';
  font-size: 11pt;
}

.menu .menu-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.menu-item .submit-button {
  font: 'open_sanslight';
  font-size: 11pt;
}

.searchbar {
  overflow: hidden;
  padding: 15px 20px;
}

.searchbar > .text-input {
  width: 100%;
}

.searchbar > .submit-button {
  display: none;
}

/* ///\\\///\\\righthand nav///\\\///\\\ */
.new-session {
  float: right;
  display: block;
  font-size: 18pt;
  padding-top: 23px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.new-deviation {
  float: right;
  display: block;
  font-size: 30pt;
  font-family: "open_sansbold";
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 4px;

}

.new-deviation:hover, .new-session:hover {
  color: #E6E6E6;
  background: #122313;
  box-shadow: inset 0 0 5px 2px #000;
  position: absolute;
  right: 0;
  padding-bottom: 13px;
}
