p, body, html, h1, fieldset, input {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  font-family: Helvetica,sans-serif;
}

form {
  display: inline;
}

.text-input, .textarea-input {
  display: block;
  margin: auto;
  width: 300px;
}

.textarea-input {
  height: 150px;
	font-size: 12pt;
}

.submit-button, input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.submit-button:hover, input[type="submit"]:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 1px solid red;
}

input, .textarea-input {
  padding: 5px 10px;
  border: 1px solid #AAA;
}

h1 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dArt-header {
	margin: 0;
  font-size: 21pt;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  text-align: center;
  padding: 150px 0;
}

.error {
  color: red;
  font-weight: bold;
}

img._deviation-media {
  padding: 20px 0;
}

legend {
  display: inline;
  width: 100%;
  font-weight: bold;
}

div.radio-button {
	margin-left: 20px;
	display: inline;
}

header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 6px solid blue;
	background-color: rgba(255, 255, 255, 0.9);
}

header > h1 {
	float: left;
}

header > ul {
	margin: 0;
	float: right;
}

header > ul > li {
	float: left;
}

.clearfix:after{
	content: "";
	clear: both;
}