p, body, html, h1, fieldset, input {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  font-family: Helvetica,sans-serif;
}

body {
  width: 100%;
  text-align: center;
  padding: 150px 0;
  background: #020703;
}

.clearfix:after{
	content: "";
	clear: both;
}

.half-opacity{
  opacity: 0.5;
}

form {
  display: inline;
}

ul {
  list-style-type: none;
}

header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 6px 20px;
	border-bottom: 5px solid #14A046;
	background-color: rgba(255, 255, 255, 0.9);
}

.dArt-header {
  font-family: 'open_sansregular';
	margin: 0;
  font-size: 30pt;
}

header > h1 {
	float: left;
}

header > ul {
	margin: 0;
	float: right;
}

header > ul > li {
	float: left;
}

h1 {
  font-family: 'open_sansbold';
  font-size: 25pt;

  color: white;
}

h2 {
  font-family: 'open_sansbold';
  font-size: 20pt;

  color: white;
}

h3 {
  font-family: 'open_sanssemibold';
  font-size: 16pt;

  color: white;
}

input, .textarea-input {
  font-family: 'open_sanslight';
	font-size: 14pt;

  margin-top: 5px;

  padding: 5px 10px;
  border: 5px solid white;
  background: transparent;
  color: white;
}

.text-input, .textarea-input {
  display: block;
  margin: 5px auto;
  width: 300px;
}

.textarea-input {
  height: 150px;
}

.submit-button, input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.submit-button:hover, input[type="submit"]:hover {
  border-color: #14A046;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 5px solid #14A046;
}

p, span {
  color: white;
}

a {
  text-decoration: none;
  color: #14A046;
}

a:hover {
  color: red;
}

.error {
  color: red;
  font-weight: bold;
}

img._deviation-media {
  margin-top: 80px;
  margin-bottom: 5px;
}

legend {
  display: inline;
  width: 100%;
  font-weight: bold;
}

div.radio-button {
	margin-left: 20px;
	display: inline;
}

.metadata {
  font-style: italic;
  opacity: 0.8;
  font-size: 10pt;
}